<%= javascript_packs_with_chunks_tag 'home', 'application' %>
<%= stylesheet_packs_with_chunks_tag 'home', 'application' %>
<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
