@import "bootstrap";

body {
  font-family: 'Arial Narrow Bold', sans-serif;
}

.bg-ochre {
  background-color: #C06014;
}
.bg-pastel-peach {
  background-color: #EDDBCD;
}
.bg-cool-grey {
  background-color: #CDCDCD;
}
.text-ochre {
  color: #C06014;
}
.text-pastel-peach {
  color: #EDDBCD;
}
.text-cool-grey {
  color: #CDCDCD;
}