@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Rubik&family=Work+Sans:wght@500&display=swap');

body {
  font-family: 'Rubik', 'Arial Narrow Bold', Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

.bg-ochre {
  background-color: #c06014;
}
.bg-pastel-peach {
  background-color: #eddbcd;
}
.bg-cool-grey {
  background-color: #cdcdcd;
}
.bg-danger-soft {
  background-color: #fcb8be !important;
}
.bg-success-soft {
  background-color: #b8fcb8 !important;
}
.text-ochre {
  color: #c06014;
}
.text-pastel-peach {
  color: #eddbcd;
}
.text-cool-grey {
  color: #cdcdcd;
}

.fullscreen-img {
  padding-top: calc(1 / 1 * 100%);
  background-size: cover;
  background-position: center;
}
