@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Rubik&family=Work+Sans:wght@500&display=swap');

body {
  font-family: 'Rubik', 'Arial Narrow Bold', Helvetica, sans-serif;
}

.bg-ochre {
  background-color: #C06014;
}
.bg-pastel-peach {
  background-color: #EDDBCD;
}
.bg-cool-grey {
  background-color: #CDCDCD;
}
.text-ochre {
  color: #C06014;
}
.text-pastel-peach {
  color: #EDDBCD;
}
.text-cool-grey {
  color: #CDCDCD;
}